@using Microsoft.AspNetCore.Components;

<h4 class="text-primary">Welcome to Contact Management Web Application</h4>

<h6 class="text-secondary">
    Overview:
    Create a simple yet functional web application using ASP.NET MVC that allows users to
    manage a list of contacts. The application should connect to an MSSQL database and
    provide basic CRUD (Create, Read, Update, Delete) operations.
</h6>